.products-conatiner {
  flex: 1;
  min-width: 0;
  padding-top: 2rem;
}
.product-page-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.sidenav-container {
  padding-top: 2rem;
  padding-left: 2rem;
}
.sidenav-set {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  padding: 1rem;
}
.sidenav-set * {
  align-self: flex-start;
  padding: 0.4rem;
}

@media only screen and (max-width: 480px) {
  .product-page-container {
    flex-direction: column;
  }
  .products-conatiner {
    padding-top: 1rem;
    flex: initial;
  }
  .sidenav-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    padding-left: 0;
    margin: 1.2rem;
  }
  .sidenav-set {
    flex-wrap: wrap;
    padding: 0;
  }
  .sidenav-set * {
    padding: 0.4rem;
  }

}